body {
  margin: 0;
  padding: 0;
  --elements-color: hsl(0, 0%, 100%);
  --font-color: hsl(200, 15%, 8%);
  --background: hsl(0, 0%, 98%);
  --font-color-secundary: hsl(207, 26%, 17%);
}

.theme-dark {
  --elements-color: hsl(209, 23%, 22%);
  --font-color: hsl(0, 0%, 100%);
  --background: hsl(207, 26%, 17%);
  --font-color-secundary: hsl(0, 0%, 52%);
}

/**************************
    HEADER
  ***************************/
.navbar {
  width: 100%;
  height: 10vh;  background: var(--elements-color);
  position: fixed;
  z-index: 999;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.navbar a strong {
  top: 1rem;
  position: relative;
  color: var(--font-color);
 }
 .navbar a i:before{
  font-size: .9rem;
  color: var(--font-color);
 }


/**************************
    Home
***************************/
.home {
  height: 100%;
  width: 100%;
  position: relative;
  overflow: hidden;
  top: 3.5rem;
  background: var(--background);
}

.container {
  margin-bottom: 4rem;
}
/**********************************
SEARCH AND DROPDOWN
************************/
.search-dropdown {
  height: 18vh;
  width: 100%;
  grid-gap:.5rem;
  display: grid;
  grid-template-columns: 1fr;
  position: relative;
  top:1rem;
}
.search-content {
  height: 3rem;
}
.search-content i{
  top: .5rem;
  position: absolute;
  color: var(--font-color);
}
.search-input {
  width: 100%;
  color: var(--font-color);
  background: var(--elements-color);
  font-size: 14px;
  font-weight: 300;
  line-height: 1.50;
  padding: 0.7rem;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  border:none;
  padding-left: 3rem;
}
input[type="text"]:focus {
  outline: none;
}
input[type="text"]::placeholder {
  color: var(--font-color);
}

/*dropdown */

.dropdown {
  top: 4rem;
  position: absolute;
  display: flex;
  flex-direction: column;
}
.dropbtn {
  background-color: var(--elements-color);
  border: none;
  width: 9rem;
  color: var(--font-color);
  padding: 12px 10px;
  text-align: left;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  font-weight: 300;
  cursor: pointer;
  border-radius: 4px;
  box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.2);
}
.dropbtn i::before{
  position: absolute;
  display: inline;
  top: 1.2rem;
  font-size: .8rem;
}

.dropdown-content {
  display: none;
  margin-top: 3.5rem;
  display: block;
  position: absolute;
  background-color: var(--elements-color);
  width: 9rem;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  border-radius: 4px;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: var(--font-color);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
  color: var(--font-color);
  font-size: 12px;
}


/*end*/
/*****************************
COUNTRIES CARDS
******************************/

.contries {
  bottom: 2rem;
  position: relative;
  top: 2rem;
  margin:  0 auto;
  display: grid;
  grid-template-columns: repeat(1 , 1fr);
  grid-gap: 5rem;
  justify-items: center;
}
.country-item {
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  background: var(--elements-color);
  color: var(--font-color);
  height: 22rem;
  width:16rem;
  border-radius: 4px;
}

.item-img img{
  width: 16rem;
  height: 10rem;
  cursor: pointer;
  border-radius: 4px;
}

.item-text-container {
  height: 12rem;
}
.item-title {
  font-size: 14px;
  text-align: left;
  font-weight: 700;
  padding: .7rem 2rem;
  color: var(--font-color);
}
.item-text-content {
  position: relative;
  margin: 1rem 1rem;
}
.item-text {
  padding: 0 1rem;
  font-size: 14px;
  text-align: left;
  font-weight: 600;
  color: var(--font-color);
}

.item-text span{
  font-size: 14px;
  text-align: left;
  font-weight: 400;
  color: var(--font-color);
}
/*end*/


/***************************
COUNTRY DETAIL
*****************************/
.country-detail {
  background: var(--background);
  height: 56rem;
  width: 100%;
  overflow: hidden;
}
.back-btn-container{
  position: relative;
  top: 6rem;
  height: 5rem;
  width: 10rem;
}
.back-btn  i{
  display: inline;
  position: absolute;
  color: var(--font-color);
  text-decoration: none;
  left: -.8rem;
  bottom: 2.7rem;
  
}
.back-btn {
  background-color: var(--elements-color);
  border: none;
  width: 5rem;
  height: 2.4rem;
  color: var(--font-color);
  padding: 10px 1px 1px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  cursor: pointer;
  border-radius: 4px;
  box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.2);
}
/*end*/
/*****************
detail container
******************/
.detail-container {
  top:5rem;
  position: relative;
  width: 100%;
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: 1fr;
  justify-items: center;
  overflow: hidden;
}
.detail-item-img {
  height: 30vh;
}
.detail-item-img img{
  width: 100%;
  border-radius: 4px;
}
.detail-item-text {
  display: grid;
  grid-template-columns: 2fr;
}
.detail-item-header {
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
}
.detail-item-left {
  width: 100%;
}


.detail-item-right {
  position: relative;
  bottom: 2rem;

  padding-top: 4.5rem;
}
.detail-item-bottom {
  display: grid;
  grid-template-columns: 1fr;
}
.border-btn-container {
  bottom: 5rem;
  display: grid;
  grid-template-columns: .6fr .6fr .6fr;
}
.border-btn {
  background-color: var(--elements-color);
  border: none;
  width: auto;
  color: var(--font-color);
  padding: 10px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  cursor: pointer;
  border-radius: 4px;
  box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.2);
  margin-left: 1rem;
}
/*end*


/*******************************
  LOADER
  *******************************/
#loader {
  position: absolute;
  left: 65%;
  top: 55%;
  z-index: 1;
  width: 50px;
  height: 50px;
  margin: -75px 0 0 -75px;
  border: 5px solid #f3f3f3;
  border-radius: 50%;
  border-top: 5px solid #585858;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/*******************



*****************/
@media only screen and (min-width: 600px) {
  /* For tablets: */
  
/**************************
    HEADER
  ***************************/.navbar {
  width: 100%;
  height: 10vh;
  background-color: var(--background);
  background: var(--elements-color);
  position: fixed;
  z-index: 999;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.navbar a strong{
  top: 1rem;
  position: relative;
  color: var(--font-color);
 }
 .navbar a i:before{
  font-size: .9rem;
 }



/**************************
    Home
***************************/
.home {
  height: 100%;
  width: 100%;
  position: relative;
  overflow: hidden;
  top: 3.5rem;
  background: var(--background);
  
}

.container {
  margin-bottom: 2rem;
}
/**********************************
SEARCH AND DROPDOWN
************************/
.search-dropdown {
  height: 18vh;
  width: 100%;
  grid-gap:.5rem;
  display: grid;
  grid-template-columns: 1fr;
  position: relative;
  top:1rem;
}
.search-content {
  height: 3rem;
}
.search-content i{
  top: .5rem;
  position: absolute;
  color: var(--font-color);
}
.search-input {
  width: 100%;
  color: var(--font-color);
  background: var(--elements-color);
  font-size: 16px;
  font-weight: 300;
  line-height: 1.50;
  padding: 0.7rem;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  border:none;
  padding-left: 3rem;
}
input[type="text"]:focus {
  outline: none;
}
input[type="text"]::placeholder {
  color: var(--font-color);
}

/*dropdown */

.dropdown {
  top: 4rem;
  position: absolute;
  display: flex;
  flex-direction: column;
}
.dropbtn {
  background-color: var(--elements-color);
  border: none;
  width: 10rem;
  color: var(--font-color);
  padding: 12px 10px;
  text-align: left;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-weight: 300;
  cursor: pointer;
  border-radius: 4px;
  box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.2);
}
.dropbtn i::before{
  position: absolute;
  display: inline;
  top: 1rem;
  font-size: 1rem;
}

.dropdown-content {
  display: none;
  margin-top: 3.5rem;
  display: block;
  position: absolute;
  background-color: var(--elements-color);
  width: 10rem;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  border-radius: 4px;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: var(--font-color);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
  color: var(--font-color);
  font-size: 12px;
}


/*end*/
/*****************************
COUNTRIES CARDS
******************************/

.contries {
  position: relative;
  top: 1rem;
  display: grid;
  grid-template-columns: repeat(2 , 1fr);
  grid-gap: 1rem;
  justify-items: center;
}
.country-item {
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  background: var(--elements-color);
  color: var(--font-color);
  height: 22rem;
  width:15rem;
  border-radius: 4px;

}

.item-img img{
  width: 15rem;
  height: 10rem;
  cursor: pointer;
  border-radius: 4px;
}

.item-text-container {
  height: 12rem;
}
.item-title {
  font-size: 16px;
  text-align: left;
  font-weight: 700;
  padding: .7rem 2rem;
  color: var(--font-color);
}
.item-title-detail {
  font-size: 16px;
  text-align: left;
  font-weight: 700;
  padding: .7rem 1rem;
  color: var(--font-color);
}
.item-text-content {
  position: relative;
  margin: 1rem 1rem;
}
.item-text {
  padding: 0 1rem;
  font-size: 14px;
  text-align: left;
  font-weight: 500;
  color: var(--font-color);
}

.item-text span{
  font-size: 12px;
  text-align: left;
  font-weight: 400;
  color: var(--font-color);
}
/*end*/


/***************************
COUNTRY DETAIL
*****************************/
.country-detail {
  background: var(--background);
  height: 49.7rem;
  width: 100%;
  overflow: hidden;
}
.back-btn-container{
  position: relative;
  top: 6rem;
  height: 5rem;
  width: 10rem;
}
.back-btn  i{
  display: inline;
  position: absolute;
  color: var(--font-color);
  text-decoration: none;
  left: -.8rem;
  bottom: 2.7rem;
  
}
.back-btn {
  background-color: var(--elements-color);
  border: none;
  width: 6rem;
  height: 2.4rem;
  color: var(--font-color);
  padding: 10px 1px 1px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  border-radius: 4px;
  box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.2);
}
/*end*/
/*****************
detail container
******************/
.detail-container {
  top:5rem;
  position: relative;
  width: 100%;
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: 1fr;
  justify-items: center;
  overflow: hidden;
}
.detail-item-img {
  height: 35vh;
}
.detail-item-img img{
  width: 100%;
  border-radius: 4px;
}
.detail-item-text {
  display: grid;
  grid-template-columns: 2fr;
}
.detail-item-header {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}
.detail-item-left {
  width: 100%;
}
.detail-item-left .item-title {
  left: 0;
}


.detail-item-right {
  position: relative;
  bottom: 2rem;

  padding-top: 4.5rem;
}
.detail-item-bottom {
  display: grid;
  grid-template-columns: 1fr;
}
.border-btn-container {
  bottom: 4rem;
  display: grid;
  grid-template-columns: .6fr .6fr .6fr;
}
.border-btn {
  background-color: var(--elements-color);
  border: none;
  width: auto;
  color: var(--font-color);
  padding: 10px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  cursor: pointer;
  border-radius: 4px;
  box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.2);
  margin-left: 1rem;
}
/*end*


/*******************************
  LOADER
  *******************************/
#loader {
  position: absolute;
  left: 60%;
  top: 55%;
  z-index: 1;
  width: 60px;
  height: 60px;
  margin: -75px 0 0 -75px;
  border: 5px solid #f3f3f3;
  border-radius: 50%;
  border-top: 5px solid #585858;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

}

/*******************



*****************/
@media only screen and (min-width: 768px) {
  /* For desktop: */
  /**************************
    HEADER
  ***************************/.navbar {
  width: 100%;
  height: 10vh;
  background-color: var(--background);
  background: var(--elements-color);
  position: fixed;
  z-index: 999;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.navbar a strong {
  top: 1rem;
  position: relative;
  cursor: pointer;
  color: var(--font-color);
 }
 .navbar a i:before{
  font-size: .9rem;
 }

/**************************
    Home
***************************/
.home {
  height: 100%;
  width: 100%;
  position: relative;
  overflow: hidden;
  top: 3.5rem;
  background: var(--background);
  z-index: 10;
  
}

.container {
  margin-bottom: 2rem;
}
/**********************************
SEARCH AND DROPDOWN
************************/
.search-dropdown {
  height: 18vh;
  width: 100%;
  grid-gap:.5rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  position: relative;
  top:3rem;
}
.search-content {
  height: 3rem;
  left: 1rem;
}
.search-content i{
  top: .5rem;
  position: absolute;
  color: var(--font-color);
}
.search-input {
  width: 100%;
  color: var(--font-color);
  background: var(--elements-color);
  font-size: 16px;
  font-weight: 300;
  line-height: 1.50;
  padding: 0.7rem;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  border:none;
  padding-left: 3rem;
}
input[type="text"]:focus {
  outline: none;
}
input[type="text"]::placeholder {
  color: var(--font-color);
}

/*dropdown */

.dropdown {
  right: 1rem;
  top: 0rem;
  position: absolute;
  display: flex;
  flex-direction: column;
}
.dropbtn {
  background-color: var(--elements-color);
  border: none;
  width: 10rem;
  color: var(--font-color);
  padding: 12px 10px;
  text-align: left;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-weight: 300;
  cursor: pointer;
  border-radius: 4px;
  box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.2);
}
.dropbtn i::before{
  position: absolute;
  display: inline;
  top: 1rem;
  font-size: 1rem;
}

.dropdown-content {
  display: none;
  margin-top: 3.5rem;
  display: block;
  position: absolute;
  background-color: var(--elements-color);
  width: 10rem;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  border-radius: 4px;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: var(--font-color);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
  color: var(--font-color);
  font-size: 14px;
}


/*end*/
/*****************************
COUNTRIES CARDS
******************************/

.contries {
  position: relative;
  top: 1rem;
  display: grid;
  grid-template-columns: repeat(4 , 1fr);
  grid-gap: 1rem;
  justify-items: center;
}
.country-item {
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  background: var(--elements-color);
  color: var(--font-color);
  height: 22rem;
  width:15rem;
  border-radius: 4px;

}

.item-img img{
  width: 15rem;
  height: 10rem;
  cursor: pointer;
  border-radius: 4px;
}

.item-text-container {
  height: 12rem;
}
.item-title {
  font-size: 18px;
  text-align: left;
  font-weight: 700;
  padding: .7rem 2rem;
  color: var(--font-color);
}
.item-title-detail {
  font-size: 18px;
  text-align: left;
  font-weight: 700;
  padding: .7rem 1rem;
  color: var(--font-color);
}
.item-text-content {
  position: relative;
  margin: 1rem 1rem;
}
.item-text {
  padding: 0 1rem;
  font-size: 14px;
  text-align: left;
  font-weight: 500;
  color: var(--font-color);
}

.item-text span{
  font-size: 14px;
  text-align: left;
  font-weight: 400;
  color: var(--font-color);
}
/*end*/


/***************************
COUNTRY DETAIL
*****************************/
.country-detail {
  background: var(--background);
  height: 40rem;
  width: 100%;
  overflow: hidden;
}
.back-btn-container{
  position: relative;
  top: 6rem;
  height: 5rem;
  width: 10rem;
}
.back-btn  i{
  display: inline;
  position: absolute;
  color: var(--font-color);
  text-decoration: none;
  left: -.8rem;
  bottom: 2.7rem;
  
}
.back-btn {
  background-color: var(--elements-color);
  border: none;
  width: 6rem;
  height: 2.4rem;
  color: var(--font-color);
  padding: 10px 1px 1px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  border-radius: 4px;
  box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.2);
}
/*end*/
/*****************
detail container
******************/
.detail-container {
  top:7rem;
  position: relative;
  width: 100%;
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(2, 1fr) ;
  justify-items: center;
  overflow: hidden;
}
.detail-item-img {
  height: 35vh;
}
.detail-item-img img{
  width: 100%;
  border-radius: 4px;
}
.detail-item-text {
  display: grid;
  grid-template-columns: 2fr;
}
.detail-item-header {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}
.detail-item-left {
  width: 100%;
}
.detail-item-left .item-title {
  left: 0;
}


.detail-item-right {
  position: relative;
  bottom: 2rem;

  padding-top: 4.5rem;
}
.detail-item-bottom {
  display: grid;
  grid-template-columns: 1fr;
}
.border-btn-container {
  bottom: 4rem;
  display: grid;
  grid-template-columns: .6fr .6fr .6fr;
}
.border-btn {
  background-color: var(--elements-color);
  border: none;
  width: auto;
  color: var(--font-color);
  padding: 10px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  cursor: pointer;
  border-radius: 4px;
  box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.2);
  margin-left: 1rem;
}
/*end*


/*******************************
  LOADER
  *******************************/
#loader {
  position: absolute;
  left: 55%;
  top: 55%;
  z-index: 1;
  width: 70px;
  height: 70px;
  margin: -75px 0 0 -75px;
  border: 5px solid #f3f3f3;
  border-radius: 50%;
  border-top: 5px solid #585858;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

}
 


